<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-view"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Señas para todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-capitalize">Señas para todos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-label>
      <h2 class="centerText"> <strong> ¿Por qué surge Sign to all?</strong> </h2>
      <br>
      <br>
      <p>
        Debido a la falta de estrategias que existen actualmente a nivel nacional, para aquellos que poseen una
        discapacidad auditiva. Se ha decidido diseñar una aplicación móvil que permita la inclusión social mediante
        la interacción de la comunidad oyente hacia la no oyente mediante el aprendizaje de la lengua de señas
        colombiana (LSC). 
        <br>
        Si hablamos de lengua de señas lo primero que hay que saber es que no es un lenguaje
        universal. Todos los países manejan su propio lenguaje de señas y en Colombia se maneja la lengua de señas
        colombiana (LSC).
        <br> 
        La mayor dificultad que se observa es que una persona oyente se le complica poder ayudar y
        darse a entender ante una persona con discapacidad auditiva, creando una barrera comunicativa entre las dos
        comunidades. 
        <br>
        Este proyecto surge de la necesidad de reducir la desigualdad que posee la comunidad con
        discapacidad auditiva, ya que toda persona con discapacidad ya sea física, sensorial, intelectual, psíquica,
        visceral y múltiple puede participar en la sociedad, lo que es conocido como inclusión; por lo consiguiente la
        aplicación estará dirigida, a todas las personas oyentes que deseen aprender la lengua de señas colombiana
        (LSC).
      </p>
    </ion-label>


  </div>

</ion-content>