<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="assets/images/Logo.png"> </ion-img>
    <ion-button expand="block" shape="round" (click)="login()" >
      <ion-icon slot="start" name="sparkles-outline" ></ion-icon>
      Iniciar sesión
    </ion-button>
    <ion-button expand="block" shape="round" color="success" (click)="signup()" >
      <ion-icon slot="start" name="sparkles-outline" ></ion-icon>
      Registrarse
    </ion-button>
  </div>
</ion-content>

<ion-footer  class="ion-no-border" >
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
