<ion-content>
  <div class="fullheight xc">
      <div class="vcs">
        <ion-img src="assets/images/Login.png"> </ion-img>
          <form  [formGroup]="form" style="margin-top: 1rem;">
      
            <ion-item>
                <ion-input   formControlName="username" type="text"  placeholder="Usuario"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input   formControlName="password" type="password"  placeholder="Contraseña"></ion-input>
          </ion-item>
            
            <ion-button expand="block" shape="round" [disabled]="!form.valid" (click)="login()">
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                Ingresar
            </ion-button>
              
            </form>
        </div>
    </div>
  </ion-content>
  
  <ion-footer  class="ion-no-border" >
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-footer>
