ion-content{
    --background: rgb(255,213,225);
    --background: linear-gradient(65deg, rgba(255,213,225,1) 62%, rgba(163,255,225,1) 78%);
}
  
  ion-toolbar{
    --background: linear-gradient(65deg, rgba(255,213,225,1) 22%, rgba(163,255,225,1) 78%);
  }

  ion-slides {
    height: 100%;
  }

  ion-item{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    --border-radius: 5px;
    --border-color:#ddd;
  }

  .by{
    color: #000;
    text-align: center;
    margin: 0;
    font-size: small;
  }

  @media (prefers-color-scheme: dark) {
    ion-content{
        --background: rgb(255,213,225);
        --background: linear-gradient(65deg, rgba(255,213,225,1) 62%, rgba(163,255,225,1) 78%);
    }
      
      ion-toolbar{
        --background: linear-gradient(65deg, rgba(255,213,225,1) 22%, rgba(163,255,225,1) 78%);
      }
    
  
    ion-label{
      color: #000;
    }
    
    ion-input{
        color: #000;
    }
  
    ion-title{
      color: #000;
      text-align: center;
      font-weight: bold;
    }
    
  }

  @media only screen and (max-width: 860px) {
    .itemImg {
        width: 100px;
    }
  }